# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment folders
.venv/
ENV/
env.bak/
venv.bak/

# Ephemeris data
ephemeris de440s.bsp

# Sensitive configuration files
.env

# Pytest
.cache

# IDE / Editor configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.tox/
.coverage
*.cover
.hypothesis/

# Other temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# General ignore patterns (if any)
*.csv
*.owl

# Exceptions: Files to include in Git
!APAONTO.csv
!DOID.csv
!FMA.csv
!fma.owl
!HUPSON.csv
!PO.csv