# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore Skyfield ephemeris file
de440s.bsp

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db
