<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monsieur.so</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/phosphor-icons@1.4.0/dist/phosphor.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-size: 14px; font-weight: 800;">Monsieur.so</a>
            <div class="d-flex align-items-center search-bar">
                <input
                    type="text"
                    class="form-control me-2"
                    id="searchInput"
                    placeholder="Search..."
                    aria-label="Search"
                />
                <button class="btn ph ph-magnifying-glass" id="searchButton" type="button"></button>
            </div>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-menu">
                    <i class="ph ph-list"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-option" href="/admin">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-option" href="/admin">How to Use</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="/admin">Get Started</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
